<p>add-employee works!</p>


<h1> Registration DATA</h1>
<table border="2">
 <th> ID</th>
 <th> Name</th>
 <th> setpassword </th>
 <th>fullname</th>
 <th> gender </th>
 <th> dateofbirth</th>
 <th> contactno</th>
 <th> address/th>
 <th> pincode/th>
 <th>contactno</th>
 <th> employementdetails</th>
 <th>Action</th>

 <tr *ngFor="let userr of user">
    <td> {{userr.id}}</td>
    <td> {{userr.username}}</td>
    <td> {{userr.setpassword}}</td>
    <td> {{userr.fullname}}</td>
    <td> {{userr.gender}}</td>
    <td> {{userr.dateofbirth}}</td>
    <td> {{userr.contactno}}</td>
    <td> {{userr.address}}</td>
    <td> {{userr.pincode}}</td>
    <td> {{userr.contactno}}</td>
    


    <input type="button" (click)="editData(userr)" value="UPDATE">

    <input type="button" (click)="delete(userr)" value="DELETE">

   </tr>  
  </table>
