



.footer h1{
    text-align: center;
    color: #222;
    font-size: 0.5rem;
    margin: 3rem auto;
}


/* -------------- footer ------------ */

.footer{
    background-color: #faf8f8;
    color: #070707;
    font-size: 1rem;
    padding: 3rem 0 20px;
}

.footer p{
    color: #080808;
    font-size: 1.0rem;
    margin-bottom: 1rem;
}

.footer h3{
    color: #0a0a0a;
    margin-bottom: 1.0rem;
    /* cursor: pointer; */
}

.col-6{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
    color: black;
}

.footer-col-1 img{
    width: 180px;
    margin-bottom: 20px;
    cursor: pointer;
}

.footer-col-3 ,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

.col-6 ul{
    list-style: none;
}

.col-6 ul li{
    padding: 0.5rem;
    cursor: pointer;
}

.app-store{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}


.copyright{
    text-align: center;
    padding-top: 0.5rem;
    /* margin-bottom: 1rem; */
}

.copyright span{
    color: #f44343;
}

.footer hr{
    background: none;
    height: 1px;
    color: #090909;
}

.f-logo h1{
    color: #040404;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.f-logo span{
    color: #ff523b;
    font-size: 1.5rem;
    padding-bottom: 1rem;

}




@media (max-width:350px){

}



@media  (min-width:351px ) and (max-width:500px){

}


@media (min-width:501px) and (max-width:768px){

}


@media(min-width:769px) and (max-width:1200px){
    
}