<!-- <p>footer works!</p> -->

   
        
    
    <!-- <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios Mobile Phone.</p>
                    <div class="app-logo">
                       <a href="https://play.google.com/store/apps/details?id=com.cjconline"> <img src="images/play-store.png" alt=""></a>
                       <a href="https://apps.apple.com/us/app/cjc-fire-and-rescue/id1452267824"> <img src="images/app-store.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6 footer-col-2">
                    <a class="f-logo">
                        <h1>JEEVAN &nbsp;<span>INSURANCE</span></h1>
                    </a>
                    <p></p>
                </div>
                <div class="col-6 footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href=""> Join us</a></li>
                        <li> Blog Post</li>
                        <li> Feedback</li>
                        <li> Support us</li>
                    </ul>
                </div>
                <div class="col-6 footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright"></p>
            <p class="copyright"><a href="#">Meet our<span>Team</span></a></p>
        </div>
    </div> -->



    <!-- <p>footer works!</p> -->
<!-- 
<div class="navbar">
    <nav class="social">
        <ul>
            <li><a href="https://www.instagram.com/prasad_hatte/">Instagram <i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="">Github <i class="fa-brands fa-github"></i></a></li>
            <li><a href="">Telegram <i class="fa-brands fa-telegram"></i></a></li>
            <li><a href="">Twitter <i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="">Linkedin <i class="fa-brands fa-linkedin-in"></i></a></li>

        </ul>
    </nav>
    </div> -->

        
    
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios Mobile Phone.</p>
                    <div class="app-logo">
                       <a href="https://play.google.com/store/apps/details?id=com.cjconline"> <img src="images/play-store.png" alt=""></a>
                       <a href="https://apps.apple.com/us/app/cjc-fire-and-rescue/id1452267824"> <img src="images/app-store.png" alt=""></a>
                    </div>
                </div>
                <div class="col-6 footer-col-2">
                    <a class="f-logo">
                        <h1>JEEVAN &nbsp;<span>INSURANCE</span></h1>
                    </a>
                    <p></p>
                </div>
                <div class="col-6 footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href=""> Join us</a></li>
                        <li> Blog Post</li>
                        <li> Feedback</li>
                        <li> Support us</li>
                    </ul>
                </div>
               
            </div>
            <hr>
            <p class="copyright"></p>
            <p class="copyright"><a href="#">Meet our<span>Team</span></a></p>
        </div>
    </div>

